# Ignorar o arquivo .env com as credenciais
.env

# Ignorar a pasta node_modules que contém as dependências do projeto
node_modules/

# Ignorar o lockfile do npm (opcional)
package-lock.json

# Ignorar logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de cache
.cache/
